body {
	background-color: #272c35;
}

img {
	width: 100%;
}

#pic-holder {
	width: 90%;
	padding: 20px;
	background-color: #21262d;
	margin-top: 30px;
}

#container {
	max-width: 650px;
	margin: auto;
	text-align: center;
}

p, h1 {
	color: #00b100;
	font-family: monospace;
}

#metadata {
	padding-top: 10px;
	text-align: left;
}

#frown {
	font-size: 5em;
}
